* {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li {
  list-style: none;
  padding: 0;
}

button {
  background: none;
  border-style: none;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

button:active,
button:focus {
  outline: none;
  box-shadow: none;
}

/* 일반 */
.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  max-width: 708px;
  padding: 0 12px;
  margin: 0 auto;
}

.link-img::after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background: url(../images/common/ico-link-blank.svg) no-repeat;
  background-size: contain;
}

.link-img.red::after {
  background: url(../images/common/ico-link-blank-red.svg) no-repeat;
}

.btn-partnership {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ff6969;
  border-radius: 20px;
  box-shadow: 0 5px 15px -5px #ff6969;
}

.btn-detail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  padding-right: 15px;
  background-color: #ffffff;
  box-shadow: 0 8px 15px rgb(114 124 142 / 36%);
  border-radius: 20px;
}

.btn-detail a {
  display: block;
}

.btn-detail::after {
  display: block;
  content: "";
  position: absolute;
  right: 5px;
  width: 29px;
  height: 29px;
  background: url(../images/common/button-ico-arrow.svg) no-repeat;
  background-position: center;
}

/* header */
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgb(88, 88, 88);
  z-index: 999;
}
/* box-shadow가 side에 가려서 안보이네ㅠㅠ 더 연구해보기 */

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
}

.logo {
  display: block;
  flex-grow: 1;
  max-width: 641px;
}

.logo-link {
  display: block;
  width: 56px;
  height: 46px;
  background: url(../images/header/logo-malangmalang.png) no-repeat;
  background-size: contain;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  text-align: left;
}

.btn-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  font-size: 43px;
  margin: 12px 0 12px 12px;
}

.side {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 68px;
  right: 0;
  width: 244px;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px 0 15px;
  animation-name: sideRight;
  animation-duration: 0.3s;
  z-index: 50;
}

.side-black {
  display: none;
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #4d4b4b;
  opacity: 0.5;
  z-index: 30;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin: 0 12px 0;
  border-radius: 100%;
  background-color: #ff6969;
  box-shadow: 0 5px 15px -5px #ff6969;
}

.gnb,
.quick-nav {
  margin: 12px 12px 0;
  padding: 12px 0 0;
  border-top: 1px solid hsla(0, 0%, 43.9%, 0.23);
}

.gnb-list,
.quick-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 220px;
  height: 202px;
  align-items: right;
}

.quick-list {
  height: 118px;
}

.gnb-item > a,
.quick-item > a {
  display: block;
  width: auto;
  height: 30px;
  text-align: right;
  line-height: 30px;
}

header .btn-partnership {
  width: 160px;
  height: 40px;
  margin-top: 10px;
  padding-right: 19px;
}

.btn-partnership a::after {
  display: block;
  content: "";
  position: absolute;
  right: 9px;
  top: 7px;
  width: 26px;
  height: 26px;
  background: url(../images/header/gnb-ico-arrow.svg) no-repeat;
  background-size: contain;
}

/* MAIN*/
/* section - malang */
.slide {
  display: flex;
}

.malang-img {
  width: calc(100% / 5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.malang-img img {
  display: block;
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
}

.malang-img img:last-child {
  height: 20px;
  margin-bottom: 44px;
}

.malang-img:nth-child(1) {
  background-color: #b43bff;
}
.malang-img:nth-child(2) {
  background-color: #ff457e;
}
.malang-img:nth-child(3) {
  background-color: #ff5353;
}
.malang-img:nth-child(4) {
  background-color: #ff8f4a;
}
.malang-img:nth-child(5) {
  background-color: #4694ff;
}

/* section - main-info */
.main-info-wrap {
  width: 100%;
  height: 405px;
  padding: 60px 0;
}
.main-info-item {
  display: flex;
  margin-bottom: 36px;
}
.main-info-item:last-child {
  margin-bottom: 0;
}

.main-info-item-img {
  flex-grow: 0;
  display: block;
  min-width: 56px;
  height: 56px;
  margin-right: 24px;
  border-radius: 28px;
}

.hancom {
  background: url(../images/main/info-ico-hancom.svg) no-repeat;
  background-position: center;
  background-color: #8a9dff;
  box-shadow: 0 5px 15px -5px #8a9dff;
}

.users {
  background: url(../images/main/info-ico-users.svg) no-repeat;
  background-position: center;
  background-color: #4ad1c7;
  box-shadow: 0 5px 15px -5px #4ad1c7;
}

.global {
  background: url(../images/main/info-ico-global.svg) no-repeat;
  background-position: center;
  background-color: #ffaf52;
  box-shadow: 0 5px 15px -5px #ffaf52;
}

.main-info-item-txt {
  flex-grow: 1;
}

.main-info-item-tit {
  text-align: left;
  margin-bottom: 7px;
}

.para-br2 {
  display: none;
}

/* section - main story */
#main-story {
  position: relative;
  padding-top: 10%;
  background-color: #d9de87;
  width: 100%;
}

/* main story 높이 조절ㅠㅠㅠ */

#main-story:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 44px;
  width: 50%;
  height: 320px;
  padding-top: 140%;
  background: url(../images/main/movement-bg-tree1@2x.png) no-repeat;
  background-size: contain;
  z-index: 2;
}

#main-story:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  /* margin-top: -10%;
  padding-top: 15%; */
  background: url(../images/main/movement-bg-character@2x.png) no-repeat;
  background-size: contain;
  background-size: 140%;
  background-position: 66% 0;
  z-index: 1;
}

.main-story-wrap {
  background-color: hsla(0, 0%, 100%, 0.88);
  border-radius: 10px;
  box-shadow: 0 8px 15px #c4c480;
  padding: 24px 24px 30px;
  letter-spacing: -0.002em;
  z-index: 10;
}

.main-story-tit {
  text-align: left;
  margin-bottom: 12px;
}

.main-story-para {
  margin-bottom: 14px;
}

.main-story-para:last-child {
  margin-bottom: 25px;
}

/* section - play */
#main-play {
  background-color: #f5f6f8;
}

#main-play-wrap {
  width: 100%;
  height: auto;
  padding: 70px 0 42px;
}

#main-play-tit {
  margin-bottom: 8.2px;
}

#play-para {
  text-align: center;
}

#main-play-list {
  width: 100%;
  margin-top: 42px;
}

.main-play-item {
  width: 100%;
  padding-bottom: 24px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 14px #ececec;
}

.main-play-item:first-child {
  margin-bottom: 24px;
}

.main-play-item > h3 {
  margin: 8px 0 13px;
}

#main-play-img {
  width: 100%;
  height: 55vw;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(232deg, #34ff92, #4694ff);
  overflow: hidden;
}

#main-play-img img {
  display: block;
  position: absolute;
  left: -17%;
  height: 100%;
}

.go-btn {
  margin: 0 auto;
}

/* section - partnership */

#main-partnership {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #6f8afc;
  background-image: url(../images/common/partnership-bg-cloud1.svg),
    url(../images/common/partnership-bg-cloud2.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 445px auto, 445px auto;
  background-position: left -300px bottom -8px, right -300px bottom -8px;
}

#main-partnership::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-color: #f5f6f8;
  z-index: 5;
}
#main-partnership::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: url(../images/common/partnership-bg-character@2x.png) no-repeat;
  background-size: contain;
  background-position-x: center;
  z-index: 10;
}

#main-partnership-wrap {
  width: 100%;
  padding: 49px 0 0;
  margin: 0 auto 15px;
}

#main-partnership-tit {
  margin-bottom: 16.8px;
}

#main-partnership-para {
  margin-bottom: 40px;
  text-align: center;
}

#main-partnership .btn-partnership {
  width: 248px;
  height: 46px;
  margin: 0 auto;
}

#main-partnership .btn-partnership a::after {
  top: 10px;
}
/* MAIN -END  */

/* footer */
#footer-1 {
  background-color: #f5f6f8;
  padding: 19px 0 24px;
}

#footer-1-wrap {
  flex-direction: column;
  width: 100%;
}

#footer-nav {
  display: block;
  column-count: 2;
  width: 100%;
  height: auto;
  margin-bottom: 34px;
}

.footer-nav-item {
  width: 100%;
}

.footer-nav-item a {
  display: block;
  text-align: left;
  margin-bottom: 12.33333px;
}

#family-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 38px;
  padding: 0 16px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

#family-site-tit {
  display: block;
  position: relative;
  line-height: 38px;
  text-align: left;
}

#family-site::after {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/footer/family-site-button-ico.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#footer-2 {
  background-color: #242424;
  padding: 26px 0 34px;
}

#footer-2-wrap {
  width: 100%;
}
#copyright {
  width: 100%;
  margin-bottom: 24px;
  font-style: normal;
  text-decoration: none;
  overflow: hidden;
}

#copyright > span {
  display: inline-block;
  padding-left: 12px;
  position: relative;
  left: -10px;
}

#copyright > span::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  height: 10px;
  border-left: 1px solid #9e9e9e;
}

#hancom-sns {
  display: flex;
  justify-content: space-between;
  width: 112px;
  height: 32px;
}

.sns-item a {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.facebook {
  background-image: url(../images/footer/sns-group-ico-facebook.svg);
}

.instagram {
  background-image: url(../images/footer/sns-group-ico-instagram.svg);
}

.youtube {
  background-image: url(../images/footer/sns-group-ico-youtube.svg);
}

/* animation */
@keyframes sideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* 반응형 */
@media screen and (max-width: 574px) {
  /* 말랑 슬라이드 */
  .malang-wrap {
    overflow: hidden;
  }
  .slide {
    min-width: 505px;
    max-width: 2100px;
    flex-wrap: nowrap;
  }
  .malang-img {
    flex: 1;
    flex-grow: 1;
    max-width: 420px;
  }

  /* section - main-info */
  .main-info-wrap {
    height: auto;
  }
}

@media screen and (min-width: 575px) and (max-width: 766px) {
  .container {
    width: calc(100% - 24px);
  }

  /* main */
  .malang-img {
    height: 542px;
  }

  /* section - main-info */
  .main-info-wrap {
    height: 360px;
  }

  .main-info-item-img {
    flex-grow: 0;
    display: block;
    min-width: 56px;
    height: 56px;
    margin-right: 24px;
    border-radius: 28px;
  }

  .main-info-item-txt {
    flex-grow: 1;
  }

  .main-info-item-tit {
    text-align: left;
    margin-bottom: 7px;
  }

  .para-br {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 990px) {
  /* HEADER */
  /* side name 가로 배치 */
  .side {
    align-items: center;
    width: 100%;
    height: 153px;
    padding: 15px 0;
    margin: 0 auto;
    animation-name: sideDown;
  }

  .login {
    position: absolute;
    margin-left: 648px;
    top: 20px;
  }

  .gnb {
    margin: 0;
    padding: 0;
    border-top: none;
  }

  .quick-nav {
    margin: 15px 0 0;
    padding: 0;
  }

  .gnb-list,
  .quick-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 684px;
    height: 61px;
  }

  .gnb-list {
    justify-content: left;
    padding-right: 56px;
  }

  .quick-list {
    justify-content: flex-end;
  }

  .gnb-item > .link,
  .quick-item > .link {
    display: block;
    line-height: 46px;
    width: 100%;
    height: 46px;
    text-align: left;
  }

  .gnb-item a {
    margin-right: 15px;
  }

  .gnb-item:last-child .link {
    width: 150px;
    height: 46px;
    margin: 0;
    margin-top: 0;
    padding-right: 19px;
  }

  .quick-item .link {
    margin-left: 30px;
  }

  /* MAIN */
  /* 말랑 슬라이드 해제*/
  /* section - main-info */
  .main-info-wrap {
    height: 368px;
  }

  .main-info-item {
    display: flex;
    margin-bottom: 31px;
  }

  .main-info-item-img {
    min-width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 32px;
  }

  .main-info-item-tit {
    margin-bottom: 8px;
  }

  .main-info-item-tit.fs-medium {
    font-size: 22px;
  }

  .main-info-item-para.fs-base {
    font-size: 16px;
  }

  .para-br {
    display: none;
  }

  /* section - main story */
  /* #main-story {
    padding-top: 10%;
  }

  #main-story:before {
    left: 0;
    top: 44px;
    width: 30%;
    height: 320px;
    padding-top: 140%;
    background: url(../images/main/movement-bg-tree1@2x.png) no-repeat;
    background-size: contain;
    z-index: 2;
  }

  #main-story:after {
    display: block;
    content: "";
    position: static;
    width: 100%;
    height: 524px;
    margin-top: -10%;
    padding-top: 5%;
    background: url(../images/main/movement-bg-character@2x.png) no-repeat;
    background-size: 140%;
    background-position: 66% 0;
    z-index: 1;
  }

  .main-story-wrap {
    border-radius: 10px;
    padding: 34px 88px 57px 51px;
    z-index: 10;
  }

  .main-story-tit {
    text-align: left;
    margin-bottom: 15px;
  }

  .main-story-tit.fs-Xlarge {
    font-size: 35px;
  }

  .main-story-body.fs-small {
    font-size: 18px;
  }

  .main-story-para {
    margin-bottom: 18px;
  } */
}

@media screen and (min-width: 991px) {
  /* 일반 */
  .link-img.red::after {
    background: none;
  }
  .container {
    max-width: 928px;
  }

  /* HEADER */
  .header-wrap {
    height: 100px;
  }

  .logo {
    max-width: 164px;
  }

  .logo-link {
    width: 82px;
    height: 65px;
  }

  .btn-side {
    display: none;
  }

  /* header side nav바에 show */
  .side {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: inherit;
    background-color: initial;
    padding: 0;
    height: 46px;
    animation-name: none;
  }

  .side-black {
    display: none;
  }

  .login {
    position: absolute;
    margin-left: 715px;
  }

  .gnb {
    margin: 0;
    flex-grow: 1;
    padding: 0 56px 0 0;
    border-top: none;
  }

  .gnb-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 46px;
  }

  .gnb-item > .link {
    height: 46px;
    padding: 0 10px;
    line-height: 46px;
  }

  .gnb-item:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gnb-item:last-child .link {
    width: 160px;
    height: 46px;
    margin-top: 0;
    padding-right: 19px;
    background-color: #ff6969;
    border-radius: 20px;
    box-shadow: 0 5px 15px -5px #ff6969;
  }

  /* header - guick nav */
  .quick-nav {
    z-index: 1000;
    position: fixed;
    top: 140px;
    right: 40px;
    width: 80px;
    height: 412px;
    margin: 0;
    padding: 0;
    border-top: none;
  }

  .quick-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .quick-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .quick-item > .link {
    box-shadow: 0 5px 15px -5px #ff6969;
    border-radius: 26.5px;
  }

  .quick-item.hidden {
    display: flex;
  }

  .quick-item > .link {
    width: 53px;
    height: 53px;
    color: transparent;
  }

  .quick-item:nth-child(1) .link {
    background: url(../images/header/quick-ico-taja.svg) no-repeat;
    background-size: contain;
    background-color: #ff6969;
  }
  .quick-item:nth-child(2) .link {
    background: url(../images/header/quick-ico-space.svg) no-repeat;
    background-size: contain;
    background-color: #ff6969;
  }
  .quick-item:nth-child(3) .link {
    background: url(../images/header/quick-ico-history.svg) no-repeat;
    background-size: contain;
    background-color: #ff6969;
  }
  .quick-item:nth-child(4) .link {
    background: url(../images/header/quick-ico-hanja.svg) no-repeat;
    background-size: contain;
    background-color: #ff6969;
  }
  .quick-item:nth-child(5) .link {
    background: url(../images/header/quick-ico-rain.svg) no-repeat;
    background-size: contain;
    background-color: #ff6969;
  }

  .quick-item::after {
    font-size: 12px;
    color: #000000;
    text-align: center;
  }

  .quick-item:nth-child(1)::after {
    display: block;
    content: "한컴타자";
  }
  .quick-item:nth-child(2)::after {
    display: block;
    content: "한컴스페이스";
  }
  .quick-item:nth-child(3)::after {
    display: block;
    content: "한국사퀴즈";
  }
  .quick-item:nth-child(4)::after {
    display: block;
    content: "한자퀴즈";
  }
  .quick-item:nth-child(5)::after {
    display: block;
    content: "산성비";
  }

  /* section - main-info */
  .main-info-wrap {
    display: flex;
    height: 285px;
  }

  .main-info-item {
    display: flex;
    margin-bottom: 30px;
  }

  .main-info-item {
    margin-right: 32px;
    margin-bottom: 0;
  }

  .main-info-item:last-child {
    margin-right: 0;
  }

  .main-info-item-img {
    min-width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 32px;
  }

  .main-info-item-txt {
    width: 208px;
  }

  .main-info-item-tit {
    margin-bottom: 8px;
  }

  .main-info-item-tit.fs-medium {
    font-size: 22px;
  }

  .main-info-item-para.fs-small {
    font-size: 16px;
  }

  .para-br2 {
    display: block;
  }

  /* section - main story */
  /* #main-story {
    padding-top: 10%;
  }

  #main-story .container {
    justify-content: flex-end;
  }

  #main-story:before {
    left: 0;
    top: 44px;
    width: 30%;
    height: 320px;
    padding-top: 140%;
    background: url(../images/main/movement-bg-tree1@2x.png) no-repeat;
    background-size: contain;
    z-index: 2;
  }

  #main-story:after {
    display: block;
    content: "";
    position: static;
    width: 100%;
    height: 524px;
    margin-top: -10%;
    padding-top: 5%;
    background: url(../images/main/movement-bg-character@2x.png) no-repeat;
    background-size: 140%;
    background-position: 66% 0;
    z-index: 1;
  }

  .main-story-wrap {
    left: 0;
    width: 544px;
    height: 476px;
    padding: 34px 88px 57px 51px;
    border-radius: 10px;
    z-index: 10;
  }

  .main-story-tit {
    text-align: left;
    margin-bottom: 15px;
  }

  .main-story-tit.fs-Xlarge {
    font-size: 35px;
  }

  .main-story-body.fs-small {
    font-size: 18px;
  }

  .main-story-para {
    margin-bottom: 18px;
  } */
}

@media screen and (min-width: 1200px) {
  /* 일반 */
  .container {
    max-width: 1120px;
  }

  .header-wrap {
    height: 100px;
  }

  /* HEADER */
  .login {
    position: absolute;
    margin-left: 850px;
  }

  /* section - main-info */
  .main-info-wrap {
    display: flex;
    justify-content: space-between;
    height: 227px;
  }

  .main-info-item {
    margin-right: 32px;
    margin-bottom: 0;
  }

  .main-info-item:last-child {
    margin-right: 0;
  }

  .main-info-item-img {
    min-width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 32px;
  }

  .main-info-item-txt {
    width: auto;
  }

  .main-info-item-tit {
    margin-bottom: 8px;
  }

  .main-info-item-tit.fs-medium {
    font-size: 22px;
  }

  .main-info-item-para.fs-small {
    font-size: 16px;
  }

  .para-br2 {
    display: block;
  }

  .main-info-item-tit > .para-br2 {
    display: none;
  }
}
