#wrap {
  width: 100%;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

/* Header */
header {
  position: relative;
  width: 100%;
  font: 500 18px/50px "";
  text-align: center;
  padding: 0 60px;
  color: #6f6967;
  background-color: #ffffff;
  min-width: 1280px;
}

#in-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 175px;
}

#logo {
  position: absolute;
  top: 45px;
  left: 86.5px;
  width: 85px;
  height: 345px;
  background-image: url(../images/header/bi.png);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  text-indent: -999999px;
}

#logo a {
  width: 100%;
  height: 100%;
}

#menu {
  display: flex;
  width: 780px;
  height: 50px;
}

#menu > li {
  width: 20%;
  height: 100%;
}

#startUp {
  background-color: black;
  border-radius: 25px;
  margin-left: 30px;
}

#startUp a {
  color: #ffffff;
}

/* Header fixed add Class */
#in-header.fixed {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 90px;
  z-index: 99;
  background-color: #ffffff;
}

#logo.fixed {
  display: block;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  background-image: url(../images/header/bi_small.png);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
  overflow: hidden;
  text-indent: -999999px;
  position: static;
}
/* Header - End */

/* Section1 */
#section1 {
  width: 100%;
  height: 100%;
  padding: 0 0 0 258px;
  overflow: hidden;
  position: relative;
}

#video-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 1000px;
  height: 749px;
  overflow: hidden;
}

#video-wrap > video {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

#video-wrap > video:nth-child(3) {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

#video-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
#video-food {
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translateX(-20%);
}

#video-smoke {
  position: absolute;
  left: 46px;
  top: 0;
}

#section1-des {
  position: absolute;
  top: 320px;
  left: 150px;
  z-index: 10;
}

#section1-des > img {
  margin-bottom: 50px;
}

.details {
  position: relative;
  display: inline-block;
  width: 176px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.025em;
  line-height: 50px;
  padding-right: 26px;
  text-align: center;
}

.details::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #ffcf31;
  border-radius: 50%;
  z-index: -5;
  transition-duration: 1s;
}

#scroll-wrap {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 258px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #141310;
}

#scroll-bar {
  width: 2px;
  height: 54px;
  text-align: center;
  background-color: black;
  margin-bottom: 20px;
}

/* Section1 End */
