#wrap {
  width: 100%;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

/* 공통 */
.text {
  font-size: 18px;
  line-height: 177%;
  letter-spacing: -0.025em;
  color: #6f6967;
}

/* Header */
header {
  position: relative;
  width: 100%;
  font: 500 18px/50px "";
  text-align: center;
  padding: 0 60px;
  color: #6f6967;
  background-color: #ffffff;
  min-width: 1280px;
}

#in-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 175px;
}

#logo {
  position: absolute;
  top: 45px;
  left: 86.5px;
  width: 85px;
  height: 345px;
  background-image: url(../images/header/bi.png);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  text-indent: -999999px;
}

#logo a {
  width: 100%;
  height: 100%;
}

#menu {
  display: flex;
  width: 780px;
  height: 50px;
}

#menu > li {
  width: 20%;
  height: 100%;
}

#menu > li > a {
  display: block;
}

#startUp {
  background-color: black;
  border-radius: 25px;
  margin-left: 30px;
}

#startUp a {
  color: #ffffff;
}

/* Header fixed add Class */
#in-header.fixed {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 90px;
  z-index: 99;
  background-color: #ffffff;
}

#logo.fixed {
  display: block;
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  background-image: url(../images/header/bi_small.png);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
  overflow: hidden;
  text-indent: -999999px;
  position: static;
}
/* Header - End */

/* Section1 */
#section1 {
  width: 100%;
  height: 100%;
  padding: 0 0 0 258px;
  overflow: hidden;
  position: relative;
}

#video-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 1000px;
  height: 749px;
  overflow: hidden;
  background-image: url(../images/main/mv1_bg_20210112.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#video-wrap > video {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

#video-wrap > video:nth-child(3) {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

#video-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
#video-food {
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translateX(-20%);
}

#video-smoke {
  position: absolute;
  left: 46px;
  top: 0;
}

#section1-des {
  position: absolute;
  top: 320px;
  left: 150px;
  z-index: 10;
}

#section1-des > img {
  margin-bottom: 50px;
}

.details {
  position: relative;
  display: inline-block;
  width: 176px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.025em;
  line-height: 50px;
  padding-right: 26px;
  text-align: center;
}

.details::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #ffcf31;
  border-radius: 50%;
  z-index: -5;
  transition-duration: 1s;
}

#scroll-wrap {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 258px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #141310;
}

#scroll-bar {
  width: 2px;
  height: 54px;
  text-align: center;
  background-color: black;
  margin-bottom: 20px;
}

/* Section1 main video End */

#section2 {
  width: 100%;
  height: 1850px;
}

#section2 .container {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 167px 0 137px 0;
  min-width: 1260px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.97),
      rgba(255, 255, 255, 0.97)
    ),
    url(../images/main/tantan_bi.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.brand-info-wrap {
  width: 100%;
  height: 505px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-info-wrap:nth-of-type(1) {
  align-items: unset;
}

.brand-info {
  display: flex;
  width: auto;
  height: 222px;
  margin-left: 30px;
}

#brand-info02 {
  margin: 120px 30px 0 0;
}

#brand-desc01,
#brand-desc03 {
  margin-left: 40px;
}

#brand-desc02 {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.brand-info-desc > h3 {
  font-size: 25px;
  font-weight: 900px;
}

.brand-info-desc > .text {
  padding: 17px 0 33px;
}

/* #brand-info-img-wrap {
} */

#brand-img01 {
  transform: translateY(-30px);
}

#brand-img02 {
  transform: translateY(-63px);
}

#brand-mv-wrap {
  width: 650px;
  height: 486px;
}

.go-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  color: #daa800;
  border: 1px solid #ffcf31;
  border-radius: 25px;
  transition-duration: 0.2s;
}

.go-btn::after {
  display: block;
  content: "";
  width: 7px;
  height: 50px;
  background: url(../images/common/cmn_link1_arr1.png) no-repeat 100% 50%;
  transition-duration: 0.5s;
}

.go-btn > a {
  line-height: 50px;
  text-align: center;
  margin-right: 19px;
}

.go-btn:hover {
  background-color: #ffcf31;
  color: #000000;
}

.go-btn:hover::after {
  background: url(../images/common/cmn_link1_arr2.png) no-repeat 100% 50%;
}

/* Section02 brand info End */

#section3 {
  width: 100%;
  height: 1000px;
}

#section3-wrap {
  width: 100%;
  height: 100%;
  /* display: flex; */
  position: relative;
  min-width: 1260px;
}

#section3-wrap > .go-btn {
  background-color: #ffcf31;
  color: black;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#section3-wrap > .go-btn::after {
  background-color: #ffcf31;
  background: url(../images/common/cmn_link1_arr2.png) no-repeat 100% 50%;
  color: black;
}

.con-wrap {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#conLeft-wrap {
  left: 0;
  background-color: #dad6ca;
}

#conRight-wrap {
  right: 0;
  background-color: #f6f5ef;
}

.con {
  position: absolute;
  top: 0;
  width: 200%;
  height: 100%;
}

#conLeft {
  left: 0;
}

#conRight {
  right: 0;
}

.bittle {
  width: 34%;
}

.bittle > img {
  width: 100%;
}

#conLeft > .bittle {
  position: absolute;
  top: 100px;
  left: 90px;
}

#conRight > .bittle {
  position: absolute;
  bottom: 100px;
  right: 90px;
}

#conLeft-desc {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 100px;
  left: 90px;
}

#conLeft-desc > p {
  margin-left: 40px;
}

#conRight-desc {
  display: flex;
  position: absolute;
  top: 100px;
  right: 90px;
  text-align: right;
}

#conRight-desc > p {
  margin-right: 40px;
}

#conLeft-img {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-42%);
  z-index: 30;
}

#conRight-img {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-42%);
  z-index: 30;
}
